<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>Contact us on:</h5>
        <ul class="collection">
          <li class="collection-item">Capstone Message Tabernacle</li>
          <li class="collection-item">P.O. BOX 10073-20100 NAKURU</li>
          <li class="collection-item">Call us on: +254721230203 or +254714479997</li>
          <li class="collection-item">Email: info@capstonemessage.org</li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a href="{{site.baseurl}}/">Home</a></li>
          <li><a href="{{site.baseurl}}/sermons/">Sermons</a></li>
          <li><a href="{{site.baseurl}}/teachings/">Teachings</a></li>
          <li><a href="{{site.baseurl}}/music/">Music</a></li>
          <li><a href="{{site.baseurl}}/billboard/">Billboard</a></li>
          <li><a target="_blank" href="https://www.youtube.com/channel/UCNMWw2o7Ahu1x-A_PphKmzg"
              rel="noopener noreferrer"><i style="font-size: 40px;" class="fa fa-youtube" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container" style="text-align: center;">
      © Capstone Message Tabernacle
    </div>
  </div>
</footer>