<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="{{site.baseurl}}/" class="brand-logo"><img src="{{site.baseurl}}/images/logo.jpg" alt="logo" /></a>
        <a href="" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{{site.baseurl}}/">Home</a></li>
          <li><a href="{{site.baseurl}}/aboutus.html">About</a></li>
          <li><a href="{{site.baseurl}}/sermons/">Sermons</a></li>
          <li><a href="{{site.baseurl}}/teachings/">Teachings</a></li>
          <li><a href="{{site.baseurl}}/music/">Music</a></li>
          <li>
            <a class="disabled" href="{{site.baseurl}}/billboard/">Billboard</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-menu">
    <li><img height="100" src="{{site.baseurl}}/images/logo.jpg" alt="logo" /></li>
    <li><a href="{{site.baseurl}}/">Home</a></li>
    <li><a href="{{site.baseurl}}/aboutus.html">About</a></li>
    <li><a href="{{site.baseurl}}/sermons/">Sermons</a></li>
    <li><a href="{{site.baseurl}}/teachings/">Teachings</a></li>
    <li><a href="{{site.baseurl}}/music/">Music</a></li>
    <li>
      <a class="disabled" href="{{site.baseurl}}/billboard/">Billboard</a>
    </li>
  </ul>
</header>

<!-- Select the active link and add the class name  -->

{% assign liActive = page.node%}

<script>
  const activeLink = `{{liActive}}`;
  const links = document.querySelector("#nav-mobile").children;

  // Add active class to respective node
  Object.values(links).forEach(element => {
    if (element.innerText === activeLink) {
      element.classList.add("active");
    }
  });
</script>